<paper-dialog id="bookDialog" modal role="alertdialog">
  <div class="">
    <h1>Book</h1>
    <form>
      <div class="">
        <label for="id">ID</label>
        <input type="text"
               name="id"
               id="id"
               value="">
      </div>

      <div class="">
        <label for="title">Title</label>
        <input type="text"
               name="title"
               id="title"
               value="">
      </div>

      <div class="">
        <label for="pages">Pages</label>
        <input type="text"
               name="pages"
               id="pages"
               value="">
      </div>

      <div class="">
        <label for="format">Format</label>
        <select name="format"
                id="format">
          <option *ngFor="#f of formats"
                  [value]="f">{{f}}</option>
        </select>
      </div>
    </form>


    <div class="buttons">
      <paper-button dialog-dismiss>Cancel</paper-button>
      <paper-button dialog-confirm autofocus>Save</paper-button>
    </div>

  </div>
</paper-dialog>
