<link rel="stylesheet" href="book-form.component.css">

<div>
  <h1>Book</h1>
  <form class="book-form">
    <div>
      <label for="id">ID</label>
      <input type="text"
             name="id"
             id="id"
             [(ngModel)]="book.id">
    </div>

    <div>
      <label for="title">Title</label>
      <input type="text"
             name="title"
             id="title"
             [(ngModel)]="book.title">
    </div>

    <div>
      <label for="pages">Pages</label>
      <input type="text"
             name="pages"
             id="pages"
             [(ngModel)]="book.pages">
    </div>

    <div>
      <label for="format">Format</label>
      <select name="format"
              id="format"
              [(ngModel)]="book.format">
        <option *ngFor="#f of formats"
                [value]="f">{{f}}</option>
      </select>
    </div>

    <div>
      <hr>
      <button type="submit">Save</button>
    </div>

  </form>
</div>
