<paper-dialog id="bookDialog" modal role="alertdialog">
    <h2>Book</h2>
    <form>
      <input type="hidden" name="id" id="id">

      <paper-input label="Title" name="title"></paper-input>
      <paper-input label="Pages" name="pages"></paper-input>

      <div class="">
        <label for="format">Format</label>
        <select name="format"
                id="format">
          <option *ngFor="#f of formats"
                  [value]="f">{{f}}</option>
        </select>
      </div>
    </form>


    <div class="buttons">
      <paper-button dialog-dismiss>Cancel</paper-button>
      <paper-button dialog-confirm autofocus>Save</paper-button>
    </div>

</paper-dialog>
